.about-us {
  max-width: 1400px;
  padding-top: 5em;
  margin: auto;

  .horizon-bolder {
    border-bottom: 1px solid $cGrayLight;
    width: 40%;
    margin: auto;
    margin-top: 0.5em;
  }

  .content {
    display: flex;
    color: $cGrayLight;
    margin-top: 2.5em;
    .left-side {
      width: 50%;
      padding: 0 1.2em;
    }
    .right-side {
      width: 50%;
      padding: 0 1.2em;
    }
  }
  .about-us-image {
    background: url(../../../assets/images/bgImage6.png) no-repeat center center;
    background-size: cover;
    max-width: 1400px;
    height: 355px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -8.5em;
    position: relative;
    z-index: 9;
    img {
      width: 199px;
      height: 199px;
      position: relative;
      top: 100px;
    }
  }
}
