.general-h1 {
  font-size: 3.3em;
  font-weight: bold;
}
.general-h2 {
  font-size: 2em; //40px
  font-weight: bold;
}
.general-h3 {
  font-size: 1.3em;
  font-weight: bold;
}
.general-p {
  font-size: 1em;
}
